{
  "DB_HOST": "localhost",
  "DB_USER": "postgres",
  "DB_PASSWORD": "123123",
  "DB_DATABASE": "rating-service",

  "TOKEN_SECRET": "123",

  "API_CLIENT_ID": "ca73c29c651fed26fe7ebf621a6abc6ed1afc914fba6bb0054eee84268ab68c3",
  "API_CLIENT_SECRET": ""
}
