.singleMatchResult {
  padding: 7px;
  margin-bottom: 4px;
  border-radius: 1em;
}

.matchLoss {
  background-color: #fcc;
}

.matchWin {
  background-color: #ddf;
}

.matchDraw {
  background-color: #eea;
}

.generalProfile {
  margin-bottom: 30px;
}

.generalProfile img {
  max-height: 100px;
  margin-right: 20px;
}
